@import "~common/stylus/common"

.slider
  min-height 1px
  .slider-group
    position relative
    overflow hidden
    white-space nowrap
    .slider-item
      float left
      box-sizing border-box
      text-align center
      overflow hidden
      a
        display block
        width 100%
        img
          display block
          width 100%
  .dots
    position absolute
    right 0
    left 0
    bottom 12px
    text-align center
    font-size 0
    .dot
      display inline-block
      width 8px
      height 8px
      margin 0 4px
      border-radius 50%
      background $color-theme-text
      &.active
        width 20px
        border-radius 5px

