@import "~common/stylus/common"

.toast
  .mask
    position fixed
    top 0
    bottom 0
    width 100%
    z-index 998
  .toast-content
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 1000
    width 120px
    height 40px
    border-radius 10px
    background black
    opacity 0.5
    &.fade-enter-active, &.fade-leave-active
      transition all 0.3s
    &.fade-enter, &.fade-leave-to
      opacity 0
    .text
      text-align center
      color $color-theme-text
      line-height 40px
      font-size $font-size-medium-x
