@import "~common/stylus/common"

.search-box
  position relative
  display flex
  align-items center
  width 100%
  height 36px
  padding 0 6px
  background $color-background
  .icon-search
    font-size 18px
  .box
    width 100%
    height 20px
    line-height 20px
    margin 0 5px
    font-size $font-size-medium
    outline none
  .icon-dismiss
    font-size 16px
    color $color-text-d
