@import "~common/stylus/common"

.song-list
  .item
    display flex
    align-items center
    box-sizing border-box
    height 64px
    font-size $font-size-medium
    .rank
      flex 0 0 25px
      width 25px
      margin-right 10px
      text-align center
      font-size 0
      &.rankIcon
        margin-right 30px
      .text
        font-size $font-size-large
        &.firstToThird
          color $color-theme
      .icon
        display inline-block
        width 25px
        height 24px
        background-size 25px 24px
        &.icon0
          bg-image('first')
        &.icon1
          bg-image('second')
        &.icon2
          bg-image('third')
    .content
      flex 1
      line-height 20px
      overflow hidden
      .name
        no-wrap()
        color $color-text
      .desc
        margin-top 4px
        no-wrap()
        font-size $font-size-small
        color $color-text-d

