@import "~common/stylus/common"

.singer-detail
  position fixed
  top 0
  bottom 0
  width 100%
  background $color-background
  z-index 999
  &.slide-enter-active, &.slide-leave-active
    transition all 0.3s
  &.slide-enter, &.slide-leave-to
    transform translate3d(100%, 0, 0)
