@import "~common/stylus/common"

.search
  .search-box-wrapper
    display flex
    align-items center
    box-sizing border-box
    margin-bottom 20px
    padding 10px
    background $color-highlight-background
    .cancel
      flex 0 0 48px
      width 48px
      height 36px
      line-height 36px
      padding 0 10px
      box-sizing border-box
      font-size 14px
  .shortcut-wrapper
    position fixed
    top 164px
    bottom 0
    width 100%
    .shortcut
      height 100%
      overflow hidden
      .hot-key-wrapper
        margin 0 15px
        .title
          margin-bottom 15px
          color $color-text-d
        .key
          display inline-block
          box-sizing border-box
          margin 0 20px 10px 0
          padding 5px 10px
          border 1px solid rgba(0, 0, 0, .6)
          border-radius 99px
          font-size $font-size-medium
