@import "~common/stylus/common"

.search
  .search-box-wrapper
    display flex
    align-items center
    box-sizing border-box
    margin-bottom 20px
    padding 10px
    background $color-highlight-background
    .box
      flex 1
    .cancel
      flex 0 0 48px
      width 48px
      height 36px
      line-height 36px
      padding 0 10px
      box-sizing border-box
      font-size 14px
