@import "~common/stylus/common"

.player
  .normal-player
    position fixed
    top 0
    bottom 0
    width 100%
    z-index 150
    background $color-player-background
    .background
      position absolute
      width 100%
      height 100%
      z-index -1
      opacity 0.6
      filter blur(20px)
    .top
      position relative
      margin-bottom 25px
      .back
        position absolute
        top 0
        left 6px
        z-index 50
        .icon-back
          display block
          padding 9px
          color $color-theme
          font-size $font-size-large-x
          transform rotate(-90deg)
      .title
        width 70%
        margin 0 auto
        text-align center
        color $color-theme-text
        .song
          line-height 40px
          font-size $font-size-large
        .singer
          font-size $font-size-medium
    .middle
      position absolute
      top 80px
      bottom 170px
      width 100%
      white-space nowrap
      font-size 0
      .middle-l
        display inline-block
        vertical-align top
        position relative
        width 100%
        height 0
        padding-top 80%
        .cd-wrapper
          position absolute
          top 0
          left 10%
          width 80%
          height 100%
          box-sizing border-box
          .cd
            width 100%
            height 100%
            border-radius: 50%
            .cd-img
              position absolute
              top 0
              left 0
              width 100%
              height 100%
              border-radius 50%
              box-sizing border-box
              border: 10px solid rgba(255, 255, 255, 0.1)
            &.play
              animation rotate 20s linear infinite
            &.pause
              animation-play-state paused
      .middle-r
        display inline-block
        vertical-align top
        width 100%
        height 100%
        overflow hidden
        .lyric-wrapper
          width 80%
          margin 0 auto
          overflow hidden
          text-align center
          .lyric
            line-height 32px
            color $color-text-ll
            font-size $font-size-medium
            &.current
              color $color-theme-text
    .bottom
      position absolute
      bottom 50px
      width 100%
      .dot-wrapper
        text-align center
        font-size 0
        .dot
          display inline-block
          vertical-align middle
          width 8px
          height 8px
          margin 0 4px
          border-radius 50%
          background $color-text-l
          &.active
            width 20px
            border-radius 5px
            background: $color-text-ll
      .progress-wrapper
        display flex
        align-items center
        width 80%
        margin 0 auto
        padding 10px 0
        .time
          flex 0 0 30px
          width 30px
          line-height 30px
          color $color-theme-text
          font-size $font-size-small
          &.time-l
            text-align left
          &.time-r
            text-align right
        .progress-bar-wrapper
          flex 1
      .handle-wrapper
        display flex
        align-items center
        .icon
          flex 1
          color $color-theme
          &.disable
            color rgba(255, 255, 255, 0.5)
          i
            font-size 30px
        .left
          text-align right
        .center
          padding 0 20px
          text-align center
          i
            font-size 40px
        .right
          text-align left
          .icon-favorite
            color $color-sub-theme
    &.normal-enter-active, &.normal-leave-active
      transition all 0.4s
      .top, .bottom
        transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32)
    &.normal-enter, &.normal-leave-to
      opacity 0
      .top
        transform translate3d(0, -100px, 0)
      .bottom
        transform translate3d(0, 100px, 0)
  .mini-player
    position fixed
    display flex
    align-items center
    bottom -1px
    left 0
    width 100%
    height 60px
    z-index 150
    opacity 0.8
    font-size 0
    background $color-background
    border-1px-top($border-1px)
    .icon
      flex 0 0 40px
      width 40px
      padding 0 10px 0 20px
      .imgWrapper
        height: 100%
        width: 100%
        .mini-img
          border-radius 50%
          &.play
            animation rotate 10s linear infinite
          &.pause
            animation-play-state paused
    .text
      flex 1
      display flex
      flex-direction column
      justify-content center
      line-height 20px
      overflow hidden
      .name
        no-wrap()
        font-size $font-size-medium
        color $color-text
      .singer
        no-wrap()
        font-size $font-size-small
        color $color-text-d
    .control
      flex 0 0 30px
      width 30px
      padding 0 10px
      .icon-play-mini, .icon-pause-mini, .icon-playlist
        color $color-theme
        font-size 30px
    &.mini-enter-active, &.mini-leave-active
      transition all 0.4s
    &.mini-enter, &.mini-leave-to
      opacity 0

@keyframes rotate
  0%
    transform rotate(0)
  100%
    transform rotate(360deg)
