@import "~common/stylus/variable"
@import "~common/stylus/mixin"

.v-header
  position relative
  height 44px
  background $color-theme
  text-align center
  font-size 0
  .icon
    display inline-block
    vertical-align top
    width 32px
    height 32px
    margin 6px 9px 0 0
    bg-image("cloud")
    background-size 32px 32px
  .text
    display inline-block
    vertical-align top
    line-height 44px
    font-size $font-size-large
    color $color-theme-text
  .mine
    position absolute
    top 0
    right 0
    .icon-mine
      display block
      padding 12px
      font-size 20px
      color $color-theme-text
