//颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #f4f4f4
$color-dialog-background = #666
$color-player-background = #222
$color-theme = #d33a31
$color-theme-text = #fff
$color-sub-theme = #d93f30
$color-text = #222
$color-text-d = #888
$color-text-l = rgba(255, 255, 255, 0.3)
$color-text-ll = rgba(255, 255, 255, 0.5)
$border-1px = rgba(7, 17, 27, 0.1)


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-medium-xx = 17px
$font-size-large = 18px
$font-size-large-x = 22px
