@import "~common/stylus/common"

.play-list
  position fixed
  top 0
  bottom 0
  width 100%
  z-index 600
  background $color-background-d
  &.fade-enter-active, &.fade-leave-active
    transition opacity 0.3s
    .play-list-wrapper
      transition all 0.3s
  &.fade-enter, &.fade-leave-to
    opacity 0
    .play-list-wrapper
      transform translate3d(0, 100%, 0)
  .play-list-wrapper
    position absolute
    bottom 0
    width 100%
    background $color-background
    border-1px-top($border-1px)
    .top
      display flex
      align-items center
      padding 20px 30px 10px 20px
      .icon
        margin-right 10px
        font-size 30px
        color $color-sub-theme
      .text
        flex 1
        font-size $font-size-medium
        color $color-text-d
      .clear
        extend-click()
        .icon-clear
          font-size $font-size-medium
          color $color-text-d
    .list
      max-height 240px
      overflow hidden
      .item
        display flex
        align-items center
        height 40px
        padding 0 30px 0 20px
        overflow hidden
        &.list-enter-active, &.list-leave-active
          transition all 0.1s
        &.list-enter, &.list-leave-to
          height 0
        .current
          flex 0 0 20px
          width 20px
          font-size $font-size-small
          color $color-sub-theme
        .text
          flex 1
          font-size $font-size-medium
          color $color-theme-d
          no-wrap()
        .favorite
          margin-right 15px
          font-size $font-size-small
          color $color-theme
          extend-click()
          .icon-favorite
            color $color-sub-theme
        .delete
          font-size $font-size-small
          color $color-theme
          extend-click()
    .close
      line-height 50px
      text-align center
      font-size $font-size-medium-x
      color $color-text-d
